@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Header container starts here*/

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

.header-logo {
    color: #F9FAF8;
    margin-left: 13%;
    font-weight: 600;
}

.header-links {
    display: flex;
    margin-right: 13%;
}

.header-links a {
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    color: #E5E7EB;
}

/* Header container ends here*/


/* Hero container starts here*/

.hero-container {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding-left: 13%;
    padding-right: 13%;
    /* align-items: flex-start; */
    padding-top: 7%;
    padding-bottom: 7%;
}

.hero-h1 h1{
    margin: 0;
    color: #F9FAF8;
    font-size: 48px;
}

.hero-p p{
    color: #E5E7EB;
}

.hero-button button{
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Hero container ends here*/



.body1-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 17%;
    padding-right: 17%;
}

.body1-top {
    margin-top: 35px;
    margin-bottom: 35px;
}

.body1-top p {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin: 0;
}

.body1-bottom {
    display: flex;
    gap: 50px;
}

.bottom-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 145px;
}

.bottom-div p {
    font-size: 13px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 8px;
}

.card {
    border: solid;
    border-color: #3882F6;
    border-radius: 10px;
    
    height: 145px;
    width: 145px;
}